<% include ../header %>
<table>
<% pages.forEach(function(page){ %>
    <tr>
        <td><a href="/page/<%= page.id %>"><%= page.id %></a></td>
        <td><%= page.content %></td>
        <td><%= page.url %></td>
        <td><%= page.hash %></td>
    </tr>
<% }) %>
</table>
<a href="/page/make">New</a>
<% include ../footer %>
